:root{
    --blue:#0052D4;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 60%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin:2rem 0;
    background: rgb(116, 255, 122);
}

.heading span{
    color: var(--blue);
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding:2rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color: var(--blue);
}

header .bar a{
    font-size: 2rem;
    padding:0 4.5rem;
    color: #666;
}

header .bar a:hover{
    color:var(--blue);
}

header .user a{
    font-size: 2rem;
    padding:2 4.5rem;
    color: #666;
}

header .user a:hover{
    color:var(--blue);
}

.form{
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border-radius: 5rem;
    background: #fff;
    color: #333;
    padding:1.5rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.proceed-btn {
  background-color: var(--blue);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 30px;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  transition: transform 0.15s ease, background-color 0.15s ease, box-shadow 0.15s ease;
}

/* When hovering (desktop) */
.proceed-btn:hover {
  transform: scale(1.1);
  background-color: #0052D4;
  color: #ffffff;
}

/* When touching/clicking */
.proceed-btn:active {
  transform: scale(1.1);
  background-color: #f0f0f0; 
  
}

.message {
  margin-top: 300px; 
  margin-left: 420px;
  font-style: italic; 
  color: royalblue; 
  font-size: 40px;      
}

.empty-message { 
  margin-left: 420px;
  margin-top: 20px;
  font-style: italic; 
  color: black;  
  font-size: 30px;     
}

.back-btn {
  background-color: var(--blue);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 35px;
  margin-left: 430px;
  margin-top: 40px;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.15s ease,
  
}

.back-btn:hover {
  transform: scale(1.1);
  background-color: #0052D4;
  color: #ffffff;
}

.back-btn:active {
  transform: scale(1.1);
  background-color: #f0f0f0; 
  
}
