:root{
    --blue:#0052D4;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 60%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 4rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin:6.5rem 0;
    background: rgb(158, 255, 163);
}

.heading span{
    color: var(--blue);
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding:2rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color: var(--blue);
}

header .bar a{
    font-size: 2rem;
    padding:0 4.5rem;
    color: #666;
}

header .bar a:hover{
    color:var(--blue);
}

header .user a{
    font-size: 2rem;
    padding:2 4.5rem;
    color: #666;
}

header .user a:hover{
    color:var(--blue);
}

.proceed-btn {
  background-color: var(--blue);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 30px;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  transition: transform 0.15s ease, background-color 0.15s ease, box-shadow 0.15s ease;
}

/* When hovering (desktop) */
.proceed-btn:hover {
  transform: scale(1.1);
  background-color: #0052D4;
  color: #ffffff;
}

/* When touching/clicking */
.proceed-btn:active {
  transform: scale(1.1);
  background-color: #f0f0f0; 
  
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding:1.5rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--blue);
}

.honeymoon .box-splitter{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.honeymoon .box-splitter .box{
    flex: 1 1 40rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.honeymoon .box-splitter .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.honeymoon .box-splitter .box .content{
    padding: 2rem;
}

.honeymoon .box-splitter .box .content h3{
    font-size: 2rem;
    color: #333;
}

.honeymoon .box-splitter .box .content h3 i{
    color: var(--blue)
}

.honeymoon .box-splitter .box .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.honeymoon .box-splitter .box .content .price{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}

.honeymoon .box-splitter .box .content .price span{
    font-size: 1.5rem;
    color: #666;
    text-decoration: line-through;
}
